html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8E8E8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgba(0, 187, 255, 0.57), #d618f3);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

#graphContainer {
    border-radius: 5px;
    width: 800px;
    height: 650px;
    margin: 16px auto;
    border: 0px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    right: 20px;
    top: 120px;
    text-align: center;
}

/*调整输入框的样式*/
#entityRecognition {
    margin: 10px auto;
    width: 800px;
    /*text-align: left;*/
    position: absolute;
    left: 20px;
    top: 50px;
}

/*调整输入框的样式*/
#relationExtraction {
    margin: 10px auto;
    width: 800px;
    /*text-align: left;*/
    position: absolute;
    left: 20px;
    top: 100px;
}

/*调整输入框的样式*/
#ask {
    margin: 10px auto;
    width: 800px;
    /*text-align: left;*/
    position: absolute;
    left: 20px;
    top: 150px;
}

/*学习路线规划按钮*/
#studyRoute {
    margin: 10px auto;
    position: absolute;
    left: 170px;
    top: 200px;
}

input[type="text"] {
    width: 400px;
    padding: 8px;
    font-size: 16px;
}